$borderprueba: 1px solid black;

$border: 1px solid #e4e1e1;
$borderRadius: 5px;

$textColor: #ffffff;
$colorPrimary: #002d48;
$colorSeconday: #72a9a3;
$colorBackground: #f8f9fa;
$colorBackgroundWhite: #ffffff;
